*, *::after, *::before {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  font: inherit;
  margin: 0;
  padding: 0;
}

button, button *, button *::after, button *::before, button * {
  cursor: pointer;
}

button[aria-disabled="true"],
button[disabled],
button[aria-disabled="true"] *,
button[disabled] *,
button[aria-disabled="true"] *::after,
button[disabled] *::after,
button[aria-disabled="true"] *::before,
button[disabled] *::before,
button[aria-disabled="true"] *,
button[disabled] * {
  cursor: not-allowed;
}
